<div class="data-selection-form" *transloco="let t">
  <app-measurement-data-type-selection></app-measurement-data-type-selection>
  <mat-vertical-stepper class="data-selection-form__stepper" [linear]="true" #stepper>
    <mat-step [completed]="(selectedCollection$ | async) !== null">
      <ng-template matStepLabel>
        {{ t('form.stepper.station.label') }}<br /><small>{{ t('form.stepper.station.label.explanation') }}</small>
      </ng-template>
      <app-station-selection-step></app-station-selection-step>
      <div class="data-selection-form__stepper__step-control">
        <button
          class="data-selection-form__stepper__step-control__next-button"
          mat-flat-button
          matStepperNext
          [disabled]="(selectedCollection$ | async) === null"
        >
          {{ t('form.stepper.next') }}
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="(selectedSelectedDataInterval$ | async) !== null">
      <ng-template matStepLabel>
        {{ t('form.stepper.interval.label') }}<br /><small>{{ t('form.stepper.interval.label.explanation') }}</small>
        <mat-icon class="data-selection-form__stepper__tooltip-icon" [matTooltip]="t('form.stepper.interval.label.tooltip')"
          >info_outline</mat-icon
        >
      </ng-template>
      <app-interval-selection></app-interval-selection>
      <div class="data-selection-form__stepper__step-control">
        <button class="data-selection-form__stepper__step-control__back-button" mat-flat-button matStepperPrevious>
          {{ t('form.stepper.back') }}
        </button>
        <button
          class="data-selection-form__stepper__step-control__next-button"
          mat-flat-button
          matStepperNext
          [disabled]="(selectedSelectedDataInterval$ | async) === null"
        >
          {{ t('form.stepper.next') }}
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="(selectedSelectedTimeRange$ | async) !== null">
      <ng-template matStepLabel>{{ t('form.stepper.time-range.label') }}</ng-template>
      <app-time-range-selection></app-time-range-selection>
      <div class="data-selection-form__stepper__step-control">
        <button class="data-selection-form__stepper__step-control__back-button" mat-flat-button matStepperPrevious>
          {{ t('form.stepper.back') }}
        </button>
        <button
          class="data-selection-form__stepper__step-control__next-button"
          mat-flat-button
          matStepperNext
          [disabled]="(selectedSelectedTimeRange$ | async) === null"
        >
          {{ t('form.stepper.next') }}
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="(selectedSelectedTimeRange$ | async) !== null">
      <ng-template matStepLabel>{{ t('form.stepper.selection-review.label') }}</ng-template>
      <app-selection-review></app-selection-review>
      <div class="data-selection-form__stepper__step-control">
        <button class="data-selection-form__stepper__step-control__back-button" mat-flat-button matStepperPrevious>
          {{ t('form.stepper.back') }}
        </button>
        <button class="data-selection-form__stepper__step-control__next-button" mat-flat-button matStepperNext>
          {{ t('form.stepper.next') }}
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="(selectedSelectedTimeRange$ | async) !== null">
      <ng-template matStepLabel>{{ t('form.stepper.download.label') }}</ng-template>
      <app-download-asset> </app-download-asset>
    </mat-step>
  </mat-vertical-stepper>
</div>
